In [1]:
import pandas as pd

# Load CSV (skip metadata rows)
df_raw = pd.read_csv(
    "renewable_electricity.csv",
    skiprows=4
)

print(df_raw.shape)
df_raw.head()

(266, 70)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.727043,14.699537,14.647001,15.020531,14.797179,14.797179,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.878542,27.088411,28.805888,30.338867,32.433052,33.125799,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.761265,86.864584,82.671996,87.840358,87.123786,78.234475,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,25.066786,30.108588,30.262125,31.767453,29.852592,30.419156,NaN,NaN,NaN,NaN
4,Angola,AGO,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.054089,84.223857,88.127638,85.146154,84.875750,91.713603,NaN,NaN,NaN,NaN

In [2]:
# World Bank year columns are numeric strings
year_cols = [col for col in df_raw.columns if col.isdigit()]

print(year_cols[:5], "...", year_cols[-5:])

['1960', '1961', '1962', '1963', '1964'] ... ['2020', '2021', '2022', '2023', '2024']

In [3]:
df_transformed = df_raw.melt(
    id_vars=["Country Name", "Country Code"],
    value_vars=year_cols,
    var_name="year",
    value_name="renewable_electricity_percent"
)

df_transformed.head()

,Country Name,Country Code,year,renewable_electricity_percent
0,Aruba,ABW,1960,NaN
1,Africa Eastern and Southern,AFE,1960,NaN
2,Afghanistan,AFG,1960,NaN
3,Africa Western and Central,AFW,1960,NaN
4,Angola,AGO,1960,NaN

In [4]:
df_transformed = df_transformed.dropna().copy()
df_transformed["year"] = df_transformed["year"].astype(int)

df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7325 entries, 7981 to 16491
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country Name                   7325 non-null   object
 1   Country Code                   7325 non-null   object
 2   year                           7325 non-null   int64
 3   renewable_electricity_percent  7325 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 286.1+ KB

In [5]:
df_transformed.to_csv(
    "renewable_electricity_processed.csv",
    index=False
)

print("New transformed CSV created successfully")

New transformed CSV created successfully

In [6]:
import pandas as pd

df_processed = pd.read_csv("renewable_electricity_processed.csv")

df_processed.head()

,Country Name,Country Code,year,renewable_electricity_percent
0,Africa Eastern and Southern,AFE,1990,13.222863
1,Africa Western and Central,AFW,1990,57.287720
2,Angola,AGO,1990,86.206897
3,Albania,ALB,1990,86.407767
4,Arab World,ARB,1990,7.272239

In [7]:
import sqlite3

conn = sqlite3.connect("electricity.db")
print("Connected to SQLite")

Connected to SQLite

In [8]:
df_processed.to_sql(
    "renewable_electricity",
    conn,
    if_exists="replace",
    index=False
)

print("Processed CSV loaded into SQLite successfully")

Processed CSV loaded into SQLite successfully

In [9]:
query = "SELECT * FROM renewable_electricity LIMIT 5"
pd.read_sql(query, conn)

,Country Name,Country Code,year,renewable_electricity_percent
0,Africa Eastern and Southern,AFE,1990,13.222863
1,Africa Western and Central,AFW,1990,57.287720
2,Angola,AGO,1990,86.206897
3,Albania,ALB,1990,86.407767
4,Arab World,ARB,1990,7.272239

In [10]:
conn.close()
print("SQLite connection closed")

SQLite connection closed

In [11]:
import requests

url = "https://api.worldbank.org/v2/country/all/indicator/EG.USE.ELEC.KH.PC?format=json&per_page=20000"

response = requests.get(url)
json_data = response.json()

type(json_data)

list

In [12]:
import pandas as pd

records = []

for item in json_data[1]:
    records.append({
        "country_name": item["country"]["value"],
        "country_code": item["country"]["id"],
        "year": item["date"],
        "electricity_use_kwh_per_capita": item["value"]
    })

df_json = pd.DataFrame(records)

df_json.head()

,country_name,country_code,year,electricity_use_kwh_per_capita
0,Africa Eastern and Southern,ZH,2024,NaN
1,Africa Eastern and Southern,ZH,2023,NaN
2,Africa Eastern and Southern,ZH,2022,501.466616
3,Africa Eastern and Southern,ZH,2021,514.341833
4,Africa Eastern and Southern,ZH,2020,512.766661

In [13]:
df_json = df_json.dropna().copy()
df_json["year"] = df_json["year"].astype(int)

df_json.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6412 entries, 2 to 17259
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    6412 non-null   object
 1   country_code                    6412 non-null   object
 2   year                            6412 non-null   int64
 3   electricity_use_kwh_per_capita  6412 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 250.5+ KB

In [14]:
import pymongo
from pymongo import MongoClient

# Connect to local MongoDB
client = MongoClient("mongodb+srv://taqApdvAdmin:T%40uq33r7861@electricitydatabase.rodgmrs.mongodb.net/?appName=electricityDatabase")

# Create / use database
db = client["electricity_db"]

print("Connected to MongoDB")

Connected to MongoDB

In [15]:
collection = db["electricity_use_per_capita"]

print("Collection selected")

Collection selected

In [16]:
records = df_json.to_dict(orient="records")

len(records), records[0]

(6412,
 {'country_name': 'Africa Eastern and Southern',
  'country_code': 'ZH',
  'year': 2022,
  'electricity_use_kwh_per_capita': 501.466615909756})

In [17]:
collection.delete_many({})
print("Old records removed (if any)")

Old records removed (if any)

In [18]:
result = collection.insert_many(records)

print(f"Inserted {len(result.inserted_ids)} documents into MongoDB")

Inserted 6412 documents into MongoDB

In [19]:
collection.find_one()

{'_id': ObjectId('693e9768bf893f2ed87b5fb7'),
 'country_name': 'Africa Eastern and Southern',
 'country_code': 'ZH',
 'year': 2022,
 'electricity_use_kwh_per_capita': 501.466615909756}

In [20]:
import requests
import pandas as pd

url = "https://api.worldbank.org/v2/country/all/indicator/EG.ELC.LOSS.ZS?format=json&per_page=20000"

response = requests.get(url)
data = response.json()[1]

rows = []

for item in data:
    rows.append({
        "country_name": item["country"]["value"],
        "country_code": item["country"]["id"],
        "year": int(item["date"]),
        "electricity_use_kwh_per_capita": item["value"]
    })

df_xml_equivalent = pd.DataFrame(rows).dropna()

print("Rows:", len(df_xml_equivalent))
df_xml_equivalent.head()

Rows: 6473

,country_name,country_code,year,electricity_use_kwh_per_capita
1,Africa Eastern and Southern,ZH,2023,24.159647
2,Africa Eastern and Southern,ZH,2022,12.900652
3,Africa Eastern and Southern,ZH,2021,12.582996
4,Africa Eastern and Southern,ZH,2020,12.597425
5,Africa Eastern and Southern,ZH,2019,11.306788

In [21]:
df_xml_equivalent.to_csv(
    "electricity_use_per_capita_xml_processed.csv",
    index=False
)

print("XML-equivalent CSV written successfully")

XML-equivalent CSV written successfully

In [22]:
import sqlite3

conn = sqlite3.connect("electricity.db")

df_xml_equivalent.to_sql(
    "electricity_losses_pct",
    conn,
    if_exists="replace",
    index=False
)

conn.close()

print("XML-equivalent data inserted into SQLite")

XML-equivalent data inserted into SQLite

In [23]:
conn = sqlite3.connect("electricity.db")
pd.read_sql("SELECT COUNT(*) AS total FROM electricity_losses_pct", conn)

   total
0   6473

In [24]:
import sqlite3
import pandas as pd
from pymongo import MongoClient
import pycountry

In [25]:
# Connect to SQLite
sqlite_conn = sqlite3.connect("electricity.db")

# -----------------------------
# Renewable electricity (CSV)
# -----------------------------
df_renewable = pd.read_sql(
    """
    SELECT
        "Country Code" AS country_code,
        year,
        renewable_electricity_percent
    FROM renewable_electricity
    """,
    sqlite_conn
)

# -----------------------------
# Electricity losses (XML-equivalent)
# -----------------------------
df_losses = pd.read_sql(
    """
    SELECT
        country_code,
        year,
        electricity_use_kwh_per_capita AS electricity_losses_pct
    FROM electricity_losses_pct
    """,
    sqlite_conn
)

sqlite_conn.close()

print("Renewable:", df_renewable.shape)
print("Losses:", df_losses.shape)

Renewable: (7325, 3)
Losses: (6473, 3)

In [26]:
client = MongoClient(
    "mongodb+srv://taqApdvAdmin:T%40uq33r7861@electricitydatabase.rodgmrs.mongodb.net/?appName=electricityDatabase"
)

db = client["electricity_db"]
collection = db["electricity_use_per_capita"]

mongo_data = list(collection.find(
    {},
    {
        "_id": 0,
        "country_code": 1,
        "year": 1,
        "electricity_use_kwh_per_capita": 1
    }
))

df_consumption = pd.DataFrame(mongo_data)

print("Consumption:", df_consumption.shape)

Consumption: (6412, 3)

In [27]:
import pycountry

def iso2_to_iso3(code):
    try:
        return pycountry.countries.get(alpha_2=code).alpha_3
    except:
        return None

def is_valid_iso3(code):
    try:
        return pycountry.countries.get(alpha_3=code) is not None
    except:
        return False

In [28]:
df_losses["iso3"] = df_losses["country_code"].apply(
    lambda x: iso2_to_iso3(x) if len(x) == 2 else x
)

df_losses = df_losses[df_losses["iso3"].apply(is_valid_iso3)]

df_losses = df_losses.drop(columns=["country_code"])
df_losses = df_losses.rename(columns={"iso3": "country_code"})

print("Losses after ISO fix:", df_losses.shape)

Losses after ISO fix: (4895, 3)

In [29]:
df_renewable["iso3"] = df_renewable["country_code"].apply(
    lambda x: iso2_to_iso3(x) if len(x) == 2 else x
)

df_renewable = df_renewable[df_renewable["iso3"].apply(is_valid_iso3)]

df_renewable = df_renewable.drop(columns=["country_code"])
df_renewable = df_renewable.rename(columns={"iso3": "country_code"})

print("Renewable after ISO fix:", df_renewable.shape)

Renewable after ISO fix: (5777, 3)

In [30]:
df_consumption["iso3"] = df_consumption["country_code"].apply(
    lambda x: iso2_to_iso3(x) if len(x) == 2 else x
)

df_consumption = df_consumption[df_consumption["iso3"].apply(is_valid_iso3)]

df_consumption = df_consumption.drop(columns=["country_code"])
df_consumption = df_consumption.rename(columns={"iso3": "country_code"})

print("Consumption after ISO fix:", df_consumption.shape)

Consumption after ISO fix: (4924, 3)

In [31]:
df_sqlite_merged = pd.merge(
    df_renewable,
    df_losses,
    on=["country_code", "year"],
    how="inner"
)

print("SQLite merged shape:", df_sqlite_merged.shape)
df_sqlite_merged.head()

SQLite merged shape: (4468, 4)

   year  renewable_electricity_percent country_code  electricity_losses_pct
0  1990                      86.206897          AGO               25.089180
1  1990                      86.407767          ALB               51.183252
2  1990                       0.000000          ARE                8.998829
3  1990                      35.251108          ARG               17.744149
4  1990                      15.006755          ARM               15.913916

In [32]:
df_final_integrated = pd.merge(
    df_sqlite_merged,
    df_consumption,
    on=["country_code", "year"],
    how="inner"
)

print("Final integrated shape:", df_final_integrated.shape)
df_final_integrated.head()

Final integrated shape: (4468, 5)

,year,renewable_electricity_percent,country_code,electricity_losses_pct,electricity_use_kwh_per_capita
0,1990,86.206897,AGO,25.089180,54.187209
1,1990,86.407767,ALB,51.183252,552.252185
2,1990,0.000000,ARE,8.998829,8188.197364
3,1990,35.251108,ARG,17.744149,1306.115805
4,1990,15.006755,ARM,15.913916,2711.895517

In [33]:
df_final_integrated.to_csv(
    "integrated_electricity_dataset.csv",
    index=False
)

print("Final integrated dataset saved as CSV")

Final integrated dataset saved as CSV

In [34]:
import sqlite3

conn = sqlite3.connect("electricity.db")

df_final_integrated.to_sql(
    "integrated_electricity_data",
    conn,
    if_exists="replace",
    index=False
)

conn.close()

print("Final integrated dataset saved in SQLite")

Final integrated dataset saved in SQLite

In [35]:
import pandas as pd

df = pd.read_csv("integrated_electricity_dataset.csv")
print(df.shape)
df.head()

(4468, 5)

,year,renewable_electricity_percent,country_code,electricity_losses_pct,electricity_use_kwh_per_capita
0,1990,86.206897,AGO,25.089180,54.187209
1,1990,86.407767,ALB,51.183252,552.252185
2,1990,0.000000,ARE,8.998829,8188.197364
3,1990,35.251108,ARG,17.744149,1306.115805
4,1990,15.006755,ARM,15.913916,2711.895517

In [36]:
df.isnull().sum()

year                              0
renewable_electricity_percent     0
country_code                      0
electricity_losses_pct            0
electricity_use_kwh_per_capita    0
dtype: int64

In [37]:
df.describe()

,year,renewable_electricity_percent,electricity_losses_pct,electricity_use_kwh_per_capita
count,4468.000000,4468.000000,4468.000000,4468.000000
mean,2005.730304,33.033854,13.537360,3808.694471
std,9.204344,32.219504,9.747162,5038.165092
min,1990.000000,0.000000,0.000000,5.441591
25%,1998.000000,4.726891,6.930764,629.601427
50%,2006.000000,20.405394,11.254325,2081.127752
75%,2014.000000,59.153438,17.140173,5152.858358
max,2021.000000,100.000000,89.728097,55085.168448

In [38]:
df["year"].min(), df["year"].max()

(np.int64(1990), np.int64(2021))